@import "./src/styles/sass/variables";
@import "./src/styles/sass/mixins";


.app {
  background: linear-gradient(180deg, $authBlockColor 0%, $primaryColor 150%);
  min-height: 100vh;

  .content {
    display: flex;
    justify-content: center;

  }

  h2 {
    color: #24695c;
    text-decoration: none;
    @include text(24px, 600, $headerTextColor, 1.2)
  }

  h3 {
    color: #24695c;
    text-decoration: none;
    @include text(18px, 600, $primaryColor, 1.2)
  }

  h4 {
    color: #24695c;
    text-decoration: none;
    @include text(18px, 600, $primaryColor, 1.2)
  }
}


