$bgColor: #f5f7fb;
$blockColor: #fff;


$headerTextColor: #242934;
$textColor: #717171;

$errorColor:#d22d3d;

$primaryColor: #21268F;




$authBlockColor: #f9f9fe;
$authBorderRadius: 8px;
$authTextColor: #2d2e46;


