@import "./src/styles/sass/variables";
@import "./src/styles/sass/mixins";

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #ECECF9;

  .navlinkContainer {
    padding: 20px;

    .link {
      text-decoration: none;
      @include text(18px, 600, $primaryColor, 1.2)
    }

    .linkActive {
      text-decoration: none;
      @include text(18px, 600, $textColor, 1.2);
    }
  }


}