@import './src/styles/sass/variables.scss';
@import './src/styles/sass/mixins.scss';


.checkboxLabel input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.checkboxLabel span {
  display: flex;
  align-items: center;
  position: relative;
  //@include text(14px, 500, $authTextColor, 1.2)
}

.checkboxLabel span::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid $authTextColor;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.checkboxLabel span::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('https://img.icons8.com/material/344/checkmark--v1.png') no-repeat;
  background-size: 17px 17px;
  opacity: 0;
}

.checkboxLabel input[type='checkbox']:checked + span::after {
  opacity: 1;
}
